body {

	margin: 0px;
	padding: 0px;
	background-image: url("assets/paper8.jpg");
	font-family: Arial, Helvetica, sans-serif;
}

a {

	text-decoration: none;
	color: #000000;
}

#container {
	margin: 0px auto;
	width: 1000px;
	/*background-color: #ffffff;*/
}

#clicker {

	background-color: #ffffff;
	text-align: center;
}

#clicker a {

	position: relative; 
	display: inline-block;
	width: 200px;
	height: 200px;
}

#units {

	background-color: #ffffff;
}

.resource_stat {

	width: 40px;
	height: 40px;
	background: rgba( 200, 200, 200, 0.6);
	/*opacity: .6;*/
	font-size: 20px;
	line-height: 38px;
	color: #000;
	display: inline-block;
	text-align: center;
	font-weight: 700;
	/*border: 5px solid #fff;*/
	border-radius: 35px;
	font-family: Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	left: 50%;
	margin-left: -20px;
}

#main {

	background: #ffffff;
	height: 500px;
}

#units {

	/*padding-left: 15px;*/
	width: 50%;
	float: left;
}

.unit {

	padding-left: 15px;
	border: 1px solid #cccccc;
}

.unit .unit_name {

	display: inline-block;
	padding: 10px;
	width: 100px;
}

.unit .unit_count {

	display: inline-block;
	width: 100px;
}

.unit .unit_cost {

	display: inline-block;
}

.unit .unit_cost img {

	width: 20px;
	height: 20px;
}

#buildings {

	width: 50%;
	float: left;
}

.clear {

	clear: both;
}